<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cardápio- Prova</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('tela_inicial') }}">Tela Inicial</a>  |
            <a href="{{ url_for('sobre') }}">Sobre</a>  |
            <a href="{{ url_for('listar_itens') }}">Cardápio</a>
        </nav>
    </header>

    <h1>Cardápio</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Status</th>
            <th>Detalhes</th>
        </tr>
        {% for i in itens %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nome}}</td>
            <td>{{i.preco}}</td>
            <td>{{i.tipo}}</td>
            <td>{% if i.disponivel %}{{"Disponível"}} {% else %}{{"Esgotado"}} {% endif %}</td>
            <td><a href="{{ url_for('detalhes', id=i.id) }}">=></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>